.circleci/*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
dist/
dist-server/
coverage/
lib/


.editorconfig
.prettierrc
.stackblitzrc
.yarnrc.yml
.yo-rc.json
.cache
*.pem

index.ejs
rollup.config.js
salus.yaml

jest.config.js